**/pnpm-lock.yaml
**/pnpm-workspace.yaml

# TODO: These are disabled because they have files that are not linted.
# A future PR can be created to lint these files and remove these ignore rules.

packages/graph-explorer/babel.config.js
packages/graph-explorer-proxy-server/**/*