# Don't allow Prettier to change the PNPM lock file
pnpm-lock.yaml

# TODO: These are disabled because they have files that are not formatted.
# A future PR can be created to format these files and remove these ignore rules.

.github/**/*
