@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-gray-50: 250 250 250;
    --color-gray-100: 245 245 245;
    --color-gray-200: 229 229 229;
    --color-gray-300: 212 212 212;
    --color-gray-400: 163 163 163;
    --color-gray-500: 115 115 115;
    --color-gray-600: 82 82 82;
    --color-gray-700: 64 64 64;
    --color-gray-800: 38 38 38;
    --color-gray-900: 23 23 23;
    --color-gray-950: 10 10 10;

    --color-input-background: var(--color-gray-50);
    --color-input-hover: var(--color-gray-100);

    --color-text-primary: 33 33 33;
    --color-text-secondary: 115 115 115;
    --color-text-disabled: 158 158 158;

    --color-background-default: var(--color-white);
    --color-background-secondary: 224 233 246;
    --color-background-contrast: var(--color-gray-100);
    --color-background-contrast-secondary: var(--color-gray-200);

    --color-brand-50: 205deg 87% 95%;
    --color-brand-100: 205deg 87% 93%;
    --color-brand-200: 205deg 87% 82%;
    --color-brand-300: 205deg 95% 71%;
    --color-brand-400: 205deg 87% 57%;
    --color-brand-500: 205deg 85% 48%;
    --color-brand-600: 205deg 87% 39%;
    --color-brand-700: 205deg 89% 31%;
    --color-brand-800: 205deg 92% 24%;
    --color-brand-900: 205deg 95% 12%;
    --color-brand-950: 205deg 98% 6%;

    --color-primary-light: var(--color-brand-300);
    --color-primary-main: var(--color-brand-500);
    --color-primary-dark: var(--color-brand-800);

    --color-secondary-light: 255 184 46;
    --color-secondary-main: 250 133 0;
    --color-secondary-dark: 228 96 0;

    --color-info-light: 100 199 255;
    --color-info-main: 18 142 229;
    --color-info-dark: 23 69 123;

    --color-error-light: 252 165 165;
    --color-error-main: 239 68 68;
    --color-error-dark: 153 27 27;

    --color-success-light: 49 222 178;
    --color-success-main: 39 175 140;
    --color-success-dark: 18 146 113;

    --color-warning-light: 255 184 46;
    --color-warning-main: 250 133 0;
    --color-warning-dark: 228 96 0;

    --color-divider: var(--color-gray-200);
    --color-border: var(--color-gray-200);

    /* Allow animating intrinsic values like height */
    interpolate-size: allow-keywords;
  }

  .dark {
    --color-white: 240 240 240;
    --color-black: 15 15 15;

    --color-input-background: var(--color-gray-900);
    --color-input-hover: var(--color-gray-800);

    --color-text-primary: var(--color-white);
    --color-text-secondary: 224 224 224;
    --color-text-disabled: 160 160 160;

    --color-background-default: 16 16 16;
    --color-background-secondary: 38 38 38;
    --color-background-contrast: var(--color-gray-700);
    --color-background-contrast-secondary: var(--color-gray-600);

    --color-primary-main: 67 171 244;
    --color-primary-dark: 18 142 229;

    --color-success-light: 102 187 106;
    --color-success-main: 129 199 132;
    --color-success-dark: 56 142 60;

    --color-divider: var(--color-gray-700);
    --color-border: var(--color-gray-700);
  }

  html {
    font-size: 14px;
  }

  body {
    @apply bg-background-default text-text-primary font-sans;
  }
}

.lucide {
  stroke-width: 2px;
}

@layer utilities {
  .bg-background-secondary-subtle {
    @apply bg-background-secondary/60;
  }

  .stack {
    display: grid;
  }

  .stack > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@layer utilities {
  .CollapsibleContent {
    overflow: hidden;
  }
  .CollapsibleContent[data-state="open"] {
    animation: collapsibleSlideDown 150ms ease-out;
  }
  .CollapsibleContent[data-state="closed"] {
    animation: collapsibleSlideUp 150ms ease-out;
  }

  @keyframes collapsibleSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsibleSlideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}
