@import "tailwindcss";
@import "tw-animate-css";

@config "../tailwind.config.ts";

/* 
 * Use `dark` class name to indicate dark mode.
 * 
 * We will need to slowly build up dark mode support component by component, so
 * this is a way to force dark mode to be off, unless we explicitly set `dark`
 * in the classes in the root component.
 * 
 * https://github.com/aws/graph-explorer/issues/645
 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Custom color palette */

  /* Remove unused neutral colors from Tailwind theme */
  --color-slate-*: initial;
  --color-gray-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;

  /* Replace the Tailwind gray color with Tailwind zinc color */
  --color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.967 0.001 286.375);
  --color-gray-200: oklch(0.92 0.004 286.32);
  --color-gray-300: oklch(0.871 0.006 286.286);
  --color-gray-400: oklch(0.705 0.015 286.067);
  --color-gray-500: oklch(0.552 0.016 285.938);
  --color-gray-600: oklch(0.442 0.017 285.786);
  --color-gray-700: oklch(0.37 0.013 285.805);
  --color-gray-800: oklch(0.274 0.006 286.033);
  --color-gray-900: oklch(0.21 0.006 285.885);
  --color-gray-950: oklch(0.141 0.005 285.823);

  /**
   * The brand color serves as the primary accent color for Graph Explorer.
   *  
   * It is a custom blue color that is between Tailwind's sky and blue colors,
   * with slightly less vibrancy. 
   * 
   * Generated using:
   * https://www.tints.dev/palette/v1:YnJhbmR8MTM3Q0M3fDYwMHxwfDB8MHwwfDEwMHxt
   */
  --color-brand-50: oklch(0.966 0.016 262.77);
  --color-brand-100: oklch(0.931 0.032 260.03);
  --color-brand-200: oklch(0.854 0.071 258.35);
  --color-brand-300: oklch(0.784 0.108 254.45);
  --color-brand-400: oklch(0.715 0.151 249.85);
  --color-brand-500: oklch(0.645 0.163 247.04);
  --color-brand-600: oklch(0.57 0.144 247.21);
  --color-brand-700: oklch(0.465 0.117 247.2);
  --color-brand-800: oklch(0.354 0.089 247.01);
  --color-brand-900: oklch(0.25 0.063 247.66);
  --color-brand-950: oklch(0.187 0.048 248.24);

  /* Semantic colors */

  --color-foreground: var(--color-gray-900);
  --color-background: var(--color-white);
  --color-background-alt: var(--color-gray-50);

  --color-muted-foreground: var(--color-gray-600);
  --color-muted: var(--color-gray-100);

  /* Used for highlights and selections */
  --color-accent-foreground: var(--color-brand-700);
  --color-accent: var(--color-brand-100);
  --color-accent-hover: var(--color-brand-200);

  --color-neutral-foreground: var(--color-gray-900);
  --color-neutral: var(--color-gray-900);
  --color-neutral-hover: var(--color-gray-700);
  --color-neutral-subtle: var(--color-gray-100);
  --color-neutral-subtle-hover: var(--color-gray-200);

  --color-primary-foreground: var(--color-brand-700);
  --color-primary: var(--color-brand-500);
  --color-primary-hover: var(--color-brand-600);
  --color-primary-subtle: var(--color-brand-50);
  --color-primary-subtle-hover: var(--color-brand-100);

  --color-danger-foreground: var(--color-red-700);
  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-600);
  --color-danger-subtle: var(--color-red-50);
  --color-danger-subtle-hover: var(--color-red-100);

  --color-warning-foreground: var(--color-amber-700);
  --color-warning: var(--color-amber-500);
  --color-warning-hover: var(--color-amber-600);
  --color-warning-subtle: var(--color-amber-50);
  --color-warning-subtle-hover: var(--color-amber-100);

  --color-success-foreground: var(--color-emerald-700);
  --color-success: var(--color-emerald-500);
  --color-success-hover: var(--color-emerald-600);
  --color-success-subtle: var(--color-emerald-50);
  --color-success-subtle-hover: var(--color-emerald-100);

  --color-border: var(--color-gray-200);

  --color-input-background: var(--color-white);
  --color-input-border: var(--color-gray-300);

  /* Semantic colors for shadcn/ui components */

  --color-destructive: var(--color-danger);
  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground);

  /* Legacy colors */

  --color-text-primary: var(--color-foreground);
  --color-text-secondary: var(--color-muted-foreground);

  --color-background-default: var(--color-background);
  --color-background-secondary: var(--color-primary-subtle);

  --color-primary-light: var(--color-brand-300);
  --color-primary-main: var(--color-primary);
  --color-primary-dark: var(--color-primary-foreground);

  --color-error-light: var(--color-red-300);
  --color-error-main: var(--color-danger);
  --color-error-dark: var(--color-danger-foreground);

  --color-success-main: var(--color-success);

  --color-warning-main: var(--color-warning);

  --background-color-default: var(--color-background);
  --background-color-secondary: var(--color-muted);
  --background-color-secondary-subtle: var(--color-primary-subtle);

  --background-color-brand: var(--color-primary);
  --background-color-brand-hover: var(--color-primary-hover);
  --background-color-brand-subtle: var(--color-primary-subtle);
  --background-color-brand-subtle-hover: var(--color-primary-subtle-hover);

  --text-color-danger: var(--color-danger-foreground);
  --text-color-brand: var(--color-primary-foreground);

  --border-color-input: var(--color-input-border);
}

@layer base {
  html {
    font-size: 14px;
    /* Allow animating intrinsic values like height */
    interpolate-size: allow-keywords;
  }

  b {
    @apply font-bold;
  }

  body {
    @apply bg-background-default text-text-primary h-screen w-full overflow-hidden overscroll-none font-sans;
  }

  #root {
    @apply size-full;
  }

  .lucide {
    stroke-width: 2px;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

@utility stack {
  display: grid;

  & > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@utility gx-wrap-break-word {
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-wrap: pretty;
}
