name: Test build the Docker image

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test-build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t test-image .
          docker build -t test-image-neptune --build-arg NEPTUNE_NOTEBOOK=true .

      - name: Ensure openSSL is installed
        run: |
          docker run --rm --entrypoint="" test-image openssl --version
          docker run --rm --entrypoint="" test-image-neptune openssl --version
